#
# Read http://www.instructables.com/id/Telegram-Bots-for-beginners/
# to see how to set up bots and find your chat ids
#

# bots=bot1,bot2

# bot1.chatId=22334455
# bot1.token=xxxxxx

# bot2.chatId=654321
# bot2.token=yyyyyyyyyyy
bots=bot1,bot2

bot1.chatId=258431635
bot1.token=188270811:AAGOrZpT4Aq4lG9uebzZKYm_0SlPRWbEqi0
bot2.chatId=-198666027
bot2.token=188270811:AAGOrZpT4Aq4lG9uebzZKYm_0SlPRWbEqi0

