# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
#apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
apikey.Wunderground=e8f84fa4dfd20712
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
#location.home2.name=home2
#location.<locationId1>.latitude=   (not required for Yahoo provider)
#location.<locationId1>.longitude=  (not required for Yahoo provider)
#location.home2.woeid=776409
#location.home2.provider=Yahoo
#location.home2.language=es
#location.home2.updateInterval=10

location.home.name=home
location.home.latitude=40.332511
location.home.longitude=-3.511339 
#location.home.woeid=      (required for Yahoo provider)
location.home.provider=Wunderground
location.home.language=en
location.home.updateInterval=10
